.header{ 
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--body-bg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.nav__wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__link{
    font-weight: 400;
    font-size: .9rem;
    cursor:pointer;
    color: var(--text-color);
}

.menu__link:hover{
    color: var(--link-active);
}

.logo h2{
    color: var(--primary-color)
}

.light__mode span{
    color: var(--text-color);
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: .8rem;
    cursor: pointer;
}

body {
  scroll-padding-top: 80px;
}

/* ================= MOBILE MENU ICON ================= */

.mobile__menu{
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
    color: var(--text-color);
}

/* ================= RESPONSIVE ================= */

/* Tablet + Mobile */
@media only screen and (max-width: 992px){

    .header{
        height:60px;
        line-height: 60px;
    }

    .navigation{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: rgba(6, 11, 26, 0.85);
        z-index: 99999;
        transition: right 0.3s ease;
    }

    .navigation.menu__active{
        right: 0;
    }

    .menu{
        flex-direction: column;
        background: #0c123d;
        width: 260px;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        row-gap: 2rem;
    }

    .mobile__menu{
        display: block;
    }
}

