.counter__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
    
  
  
  max-width: 1000px;        /* 👈 adjust width */
  height: 190px; 
  margin-left: 50px;          /* 👈 adjust height */
  margin-top: 40px;   /* ✅ ADD THIS */
  margin-bottom: 40px;
}

body.light .counter__wrapper {
  border: 1.5px solid var(--primary-color);
}

body.dark .counter__wrapper {
  border: 1.5px solid var(--primary-color);
}

.counter__item {
  width: 33%;
  text-align: center;
  padding: 100px;
}

.counter__number,
.counter__title {
  background: var(--counter-color);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.counter__number {
  font-size: 1.6rem;
  margin-bottom: 4px;
  transition: filter 0.25s ease, transform 0.25s ease;
}


.counter__item:hover .counter__number {
  filter: brightness(1.3) saturate(1.2);
  transform: scale(1.28);
}

.counter__title {
  font-size: 1.2rem;
}

